# Données entreprises 2020

In [1]:
import pandas as pd # mettre sous forme de tableau
import numpy as np # algebre lineaire

In [3]:
data = pd.read_csv('chiffres-cles-2020.csv',sep=';', low_memory=False)

In [4]:
# Nombre de données nulles par colonnes
data.isnull().sum().sort_values()

Dénomination                       0
Siren                              1
fiche_identite                     1
Forme Juridique                   15
Nic                               87
Code Greffe                      234
Greffe                           238
Statut                           258
Date immatriculation             265
Date de publication              283
Ville                            286
Millesime 1                      298
Date de cloture exercice 1       301
tranche_ca_millesime_1           316
Durée 1                          317
tranche_ca_millesime_2           340
tranche_ca_millesime_3           350
Code postal                      426
Num. dept.                       445
Adresse                         4596
Département                     6621
Région                          6636
Code APE                       13292
Libellé APE                    13302
Millesime 2                    72483
Date de cloture exercice 2     72491
Durée 2                        72814
Millesime 3                   124029
Date de cloture exercice 3    124029
Durée 3                       124118
Résultat 1                    484954
Résultat 3                    492313
CA 3                          494558
Résultat 2                    494717
CA 1                          496422
CA 2                          499169
Effectif 3                    600913
Effectif 2                    601881
Effectif 1                    634848
Date radiation                681663
Geolocalisation               681664
dtype: int64

Nous allons essayer de récuperer toutes les entreprises dont le siège social est à Paris

In [5]:
# La donnée auquelle nous allons nous intéresser
(data['Greffe'] == 'PARIS').sum()

39458

In [6]:
data_paris = data[data['Greffe'] == 'PARIS'].copy()

In [7]:
data_paris.shape

(39458, 41)

In [8]:
data_no_greffe_not_paris = data_paris[data_paris['Greffe'] != 'PARIS'].copy()

In [9]:
df1 = data[(75000 < data['Code postal']) & (data['Code postal'] < 76000)].copy()
df1.shape

(39445, 41)

In [10]:
df2 = data[data['Greffe'] == 'PARIS'].copy()
df2.shape

(39458, 41)

In [11]:
pd.concat([df1,df2,df2]).drop_duplicates(keep=False)[['Greffe','Code postal','Ville','Adresse']]

       Greffe  Code postal  Ville                       Adresse
186942    NaN      75008.0  PARIS               19 RUE DE TURIN
385039    NaN      75008.0  PARIS  34 AVENUE DES CHAMPS ELYSEES

Il y a deux entreprises qui ont pour ville Paris mais pas de valeur pour le greffe, rectifions cela

In [12]:
data.loc[[186942,385039],['Greffe']] = 'PARIS'

## Entreprises à Paris 2020

In [13]:
# Données ayant pour greffe PARIS
data_paris = data[data['Greffe'] == 'PARIS'].copy()

In [14]:
# Series donnant le nombre de cellules vides par colonnes
all_cols = data_paris.isnull().sum().sort_values()

In [15]:
data_paris['Effectif 1'].isnull().sum()/ data_paris.shape[0] * 100

89.05980739989863

Certaines colonnes contiennent près de 90% de données nulles, nous allons les supprimer.

In [30]:
all_cols[-7:]

CA 2               24933
CA 3               25142
Effectif 1         35143
Effectif 2         35302
Effectif 3         35466
Date radiation     39460
Geolocalisation    39460
dtype: int64

In [31]:
data_paris[data_paris['Code postal'].isnull()];

In [32]:
drop_cols = (all_cols[all_cols > 35000]).keys()

In [33]:
data = data_paris.drop(drop_cols, axis=1)

In [34]:
data.isnull().sum().sort_values()

Dénomination                      0
Siren                             0
fiche_identite                    0
Forme Juridique                   0
Greffe                            0
Date immatriculation              2
Code Greffe                       2
Date de publication               6
Statut                            6
Date de cloture exercice 1        8
Millesime 1                       8
tranche_ca_millesime_1            9
Durée 1                           9
Nic                              10
tranche_ca_millesime_3           11
tranche_ca_millesime_2           11
Adresse                          12
Ville                            15
Code postal                      15
Département                      16
Région                           16
Num. dept.                       16
Code APE                       1871
Libellé APE                    1871
Millesime 2                    6334
Durée 2                        6334
Date de cloture exercice 2     6334
Millesime 3                    9575
Date de cloture exercice 3     9575
Durée 3                        9575
Résultat 1                    22720
CA 1                          23247
Résultat 2                    24452
Résultat 3                    24619
CA 2                          24933
CA 3                          25142
dtype: int64

Une petite recherche google nous permet de conclure les date d'immatriculation

In [20]:
data[data['Date immatriculation'].isnull()]

,Dénomination,Siren,Nic,Forme Juridique,Code APE,Libellé APE,Adresse,Code postal,Ville,Num. dept.,...,Résultat 2,Millesime 3,Date de cloture exercice 3,Durée 3,CA 3,Résultat 3,fiche_identite,tranche_ca_millesime_1,tranche_ca_millesime_2,tranche_ca_millesime_3
186942,MAISON GABRIELLE BEAU,880877113,14.0,Societe par actions simplifiee a associe unique,7410Z,Activites specialisees de design,19 RUE DE TURIN,75008.0,PARIS,75.0,...,NaN,NaN,NaN,NaN,NaN,NaN,https://www.infogreffe.fr/infogreffe/ficheIden...,NaN,NaN,NaN
385039,GROUP ELAN,882920515,13.0,Societe par actions simplifiee,7022Z,Conseil pour les affaires et autres conseils d...,34 AVENUE DES CHAMPS ELYSEES,75008.0,PARIS,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,https://www.infogreffe.fr/infogreffe/ficheIden...,NaN,NaN,NaN

In [35]:
indice = [186942,385039]
date = ['2020-01-22','2020-04-15']

In [36]:
data.loc[indice, 'Date immatriculation'] = date

Ajouté correctement

In [37]:
data.loc[indice, 'Date immatriculation']

186942    2020-01-22
385039    2020-04-15
Name: Date immatriculation, dtype: object

In [38]:
data.to_csv('chiffres-paris-2020.csv', index=False)

In [39]:
df = pd.read_csv('chiffres-paris-2020.csv')

In [41]:
df.isnull().sum().sort_values()

Dénomination                      0
Siren                             0
fiche_identite                    0
Forme Juridique                   0
Date immatriculation              0
Greffe                            0
Code Greffe                       2
Date de publication               6
Statut                            6
Date de cloture exercice 1        8
Millesime 1                       8
tranche_ca_millesime_1            9
Durée 1                           9
Nic                              10
tranche_ca_millesime_3           11
tranche_ca_millesime_2           11
Adresse                          12
Ville                            15
Code postal                      15
Département                      16
Région                           16
Num. dept.                       16
Code APE                       1871
Libellé APE                    1871
Millesime 2                    6334
Durée 2                        6334
Date de cloture exercice 2     6334
Millesime 3                    9575
Date de cloture exercice 3     9575
Durée 3                        9575
Résultat 1                    22720
CA 1                          23247
Résultat 2                    24452
Résultat 3                    24619
CA 2                          24933
CA 3                          25142
dtype: int64