# Données entreprises 2020

In [35]:
import pandas as pd # mettre sous forme de tableau
import numpy as np # algebre lineaire

In [36]:
data = pd.read_csv('chiffres-cles-2020.csv',sep=';', low_memory=False)

In [37]:
# Nombre de données nulles par colonnes
data.isnull().sum().sort_values()

Dénomination                       0
Siren                              1
fiche_identite                     1
Forme Juridique                   15
Nic                               87
Code Greffe                      234
Greffe                           238
Statut                           258
Date immatriculation             265
Date de publication              283
Ville                            286
Millesime 1                      298
Date de cloture exercice 1       301
tranche_ca_millesime_1           316
Durée 1                          317
tranche_ca_millesime_2           340
tranche_ca_millesime_3           350
Code postal                      426
Num. dept.                       445
Adresse                         4596
Département                     6621
Région                          6636
Code APE                       13292
Libellé APE                    13302
Millesime 2                    72483
Date de cloture exercice 2     72491
Durée 2                        72814
Millesime 3                   124029
Date de cloture exercice 3    124029
Durée 3                       124118
Résultat 1                    484954
Résultat 3                    492313
CA 3                          494558
Résultat 2                    494717
CA 1                          496422
CA 2                          499169
Effectif 3                    600913
Effectif 2                    601881
Effectif 1                    634848
Date radiation                681663
Geolocalisation               681664
dtype: int64

Nous allons essayer de récuperer toutes les entreprises dont le siège social est à Paris

In [38]:
# La donnée auquelle nous allons nous intéresser
(data['Greffe'] == 'PARIS').sum()

39458

In [39]:
data_paris.shape

(39696, 41)

In [40]:
data_no_greffe_not_paris = data_paris[data_paris['Greffe'] != 'PARIS'].copy()

In [41]:
df1 = data[(75000 < data['Code postal']) & (data['Code postal'] < 76000)].copy()
df1.shape

(39445, 41)

In [42]:
df2 = data[data['Greffe'] == 'PARIS'].copy()
df2.shape

(39458, 41)

In [43]:
pd.concat([df1,df2,df2]).drop_duplicates(keep=False)[['Greffe','Code postal','Ville','Adresse']]

       Greffe  Code postal  Ville                       Adresse
186942    NaN      75008.0  PARIS               19 RUE DE TURIN
385039    NaN      75008.0  PARIS  34 AVENUE DES CHAMPS ELYSEES

Il y a deux entreprises qui ont pour ville Paris mais pas de valeur pour le greffe, rectifions cela

In [44]:
data.loc[[186942,385039],['Greffe']] = 'PARIS'

## Entreprises à Paris 2020

In [48]:
data_paris = data[data['Greffe'] == 'PARIS'].copy()

In [79]:
all_cols = data_paris.isnull().sum().sort_values()

In [61]:
data_paris['Effectif 1'].isnull().sum()/ data_paris.shape[0] * 100

89.05980739989863

Certaines colonnes contiennent près de 90% de données nulles, nous n'allons pas les supprimer

In [78]:
data_paris[data_paris['Code postal'].isnull()];

In [99]:
drop_cols = (all_cols[all_cols > 30000]).keys()

In [130]:
data = data_paris.drop(drop_cols, axis=1)

In [131]:
data.isnull().sum().sort_values()

Dénomination                      0
Siren                             0
fiche_identite                    0
Forme Juridique                   0
Greffe                            0
Date immatriculation              2
Code Greffe                       2
Date de publication               6
Statut                            6
Date de cloture exercice 1        8
Millesime 1                       8
tranche_ca_millesime_1            9
Durée 1                           9
Nic                              10
tranche_ca_millesime_3           11
tranche_ca_millesime_2           11
Adresse                          12
Ville                            15
Code postal                      15
Département                      16
Région                           16
Num. dept.                       16
Code APE                       1871
Libellé APE                    1871
Millesime 2                    6334
Durée 2                        6334
Date de cloture exercice 2     6334
Millesime 3                    9575
Date de cloture exercice 3     9575
Durée 3                        9575
Résultat 1                    22720
CA 1                          23247
Résultat 2                    24452
Résultat 3                    24619
CA 2                          24933
CA 3                          25142
dtype: int64

Une petite recherche google nous permet de conclure les date d'immatriculation

In [132]:
data[data['Date immatriculation'].isnull()]

,Dénomination,Siren,Nic,Forme Juridique,Code APE,Libellé APE,Adresse,Code postal,Ville,Num. dept.,...,Résultat 2,Millesime 3,Date de cloture exercice 3,Durée 3,CA 3,Résultat 3,fiche_identite,tranche_ca_millesime_1,tranche_ca_millesime_2,tranche_ca_millesime_3
186942,MAISON GABRIELLE BEAU,880877113,14.0,Societe par actions simplifiee a associe unique,7410Z,Activites specialisees de design,19 RUE DE TURIN,75008.0,PARIS,75.0,...,NaN,NaN,NaN,NaN,NaN,NaN,https://www.infogreffe.fr/infogreffe/ficheIden...,NaN,NaN,NaN
385039,GROUP ELAN,882920515,13.0,Societe par actions simplifiee,7022Z,Conseil pour les affaires et autres conseils d...,34 AVENUE DES CHAMPS ELYSEES,75008.0,PARIS,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,https://www.infogreffe.fr/infogreffe/ficheIden...,NaN,NaN,NaN

In [133]:
indice = [186942,385039]
date = ['2020-01-22','2020-04-15']

In [134]:
data.loc[indice, 'Date immatriculation'] = date

Ajouté correctement

In [135]:
data.loc[indice, 'Date immatriculation']

186942    2020-01-22
385039    2020-04-15
Name: Date immatriculation, dtype: object

In [139]:
data.to_csv('chiffres-paris-2020.csv', index=False)

In [140]:
df = pd.read_csv('chiffres-paris-2020.csv')

In [141]:
df

,Dénomination,Siren,Nic,Forme Juridique,Code APE,Libellé APE,Adresse,Code postal,Ville,Num. dept.,...,Résultat 2,Millesime 3,Date de cloture exercice 3,Durée 3,CA 3,Résultat 3,fiche_identite,tranche_ca_millesime_1,tranche_ca_millesime_2,tranche_ca_millesime_3
0,D C AUDIOVISUEL,313669681,14.0,Societe par actions simplifiee,5912Z,"Post-production de films cinematographiques, d...",3 RUE EDMOND ROGER,75015.0,PARIS,75.0,...,175595.0,2018.0,2018-03-31,12.0,3097293.0,373019.0,https://www.infogreffe.fr/infogreffe/ficheIden...,E + d 1M,E + d 1M,E + d 1M
1,EMI MUSIC PUBLISHING FRANCE,344035969,72.0,Societe par actions simplifiee a associe unique,5920Z,Enregistrement sonore et edition musicale,27 RUE DE BERRI,75008.0,PARIS,75.0,...,1454186.0,2018.0,2018-03-31,12.0,353227.0,1369811.0,https://www.infogreffe.fr/infogreffe/ficheIden...,A - de 32K,D entre 250K et 1M,D entre 250K et 1M
2,JPB CONSEIL,418142956,14.0,Societe a responsabilite limitee,6920Z,Activites comptables,9 RUE BRUNEL,75017.0,PARIS,75.0,...,NaN,2018.0,2018-01-31,12.0,NaN,NaN,https://www.infogreffe.fr/infogreffe/ficheIden...,A - de 32K,A - de 32K,A - de 32K
3,3 S D,428969711,46.0,Societe a responsabilite limitee a associe unique,NaN,NaN,14 RUE DU ROCHER,75008.0,PARIS,75.0,...,NaN,2018.0,2018-03-31,12.0,309589.0,-136249.0,https://www.infogreffe.fr/infogreffe/ficheIden...,C entre 82K et 250K,A - de 32K,D entre 250K et 1M
4,ASAP,490043494,31.0,Societe a responsabilite limitee,8020Z,Activites liees aux systemes de securite,10 RUE DE PENTHIEVRE,75008.0,PARIS,75.0,...,NaN,NaN,NaN,NaN,NaN,NaN,https://www.infogreffe.fr/infogreffe/ficheIden...,A - de 32K,A - de 32K,A - de 32K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39455,ODY-CD,880337720,10.0,Societe par actions simplifiee a associe unique,6202A,Conseil en systemes et logiciels informatiques,1 RUE GOSSEC,75012.0,PARIS,75.0,...,NaN,NaN,NaN,NaN,NaN,NaN,https://www.infogreffe.fr/infogreffe/ficheIden...,E + d 1M,E + d 1M,E + d 1M
39456,AIR360,881696769,10.0,Societe par actions simplifiee a associe unique,5829C,Edition de logiciels applicatifs,91 RUE DU FAUBOURG SAINT HONORE,75008.0,PARIS,75.0,...,NaN,NaN,NaN,NaN,NaN,NaN,https://www.infogreffe.fr/infogreffe/ficheIden...,C entre 82K et 250K,E + d 1M,E + d 1M
39457,POKE CORNER,881770382,11.0,Societe par actions simplifiee,5610C,Restauration de type rapide,1 RUE LEOPOLD ROBERT,75014.0,PARIS,75.0,...,NaN,NaN,NaN,NaN,NaN,NaN,https://www.infogreffe.fr/infogreffe/ficheIden...,B entre 32K et 82K,E + d 1M,E + d 1M
39458,LH HEBERT,882198385,16.0,Societe par actions simplifiee,6810Z,Activites des marchands de biens immobiliers,4 RUE VICTOR SCHOELCHER,75014.0,PARIS,75.0,...,NaN,NaN,NaN,NaN,NaN,NaN,https://www.infogreffe.fr/infogreffe/ficheIden...,E + d 1M,E + d 1M,E + d 1M
39459,MOC Impact,883927642,16.0,Societe par actions simplifiee a associe unique,7022Z,Conseil pour les affaires et autres conseils d...,20 RUE LOUIS DAVID,75116.0,PARIS,75.0,...,NaN,NaN,NaN,NaN,NaN,NaN,https://www.infogreffe.fr/infogreffe/ficheIden...,E + d 1M,E + d 1M,E + d 1M